<div class="container-fluid fondo"> <!--barra superior, banner, foto de perfil, nombre, acerca de-->
  
    <div class="row mt-5">
            <div class="col-2">
                <div class="m-4">
                    <img [src]="miPortfolio.imagen" alt="foto-perfil" class="shadow foto_perfil">
                </div>
            </div>
            <div class="col-6 offset-2">
                <br><br><br><br><br>
                <h2 class="p-3 mi-nombre"> {{miPortfolio.name}} </h2>
                <h3><em>{{miPortfolio.profesion}}</em></h3>
                <h3>{{miPortfolio.ubicacion}}</h3>
                
            </div>
        
    </div>
  
  </div>